.Category{
    background-color: var(--light);
    color: var(--dark);
}

.Category .row .card  {
    background-color: var(--light);
    color: var(--dark);
}
.Category .row .card p{
    color: #000 !important;
}
.icons{
    color: var(--main);
}

.dark .Category .row .card p{
    color: #fff !important;
}

.dark .Category .row {
    background: #333;
}

.details {
  transition: transform 0.3s ease;
}

.details:hover {
  transform: translateY(-5px);
}
