@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
}


:root{
  --main:#cece2b;
   /* --dark:#000;  */
  --dark:#fff;

  --light:#eee;
  --sec:#000;

}

.dark{
 --dark:#fff;
  --light:#333 !important;
  --sec:#000 !important;
  --text:#fff ; 
} 

.dark del{
  background-color: var(--sec) !important;
  color: var(--dark) !important;
}

main{
  font-family: 'Tajawal' , sans-serif;
  /* height: 500vh; */
  background-color: var(--light);
  color: var(--dark);
} 


.btn-info{
  padding: 10px 15px !important;
  background-color: transparent !important;
  border:2px solid #fff !important;
  border-radius: 0 !important;
  cursor: pointer !important;
  font-size: 16px !important;
  transition: 0.5s;
  color: #fff !important;
}

.btn-info:hover{
  background-color: var(--main) !important;
}

p{
  color: #000;
}

.mood{
  color: aqua;
  cursor: pointer;
  animation: mood 2s ease infinite ;
}

@keyframes mood {
  100%{
    transform: rotate(360deg);
  }
}

