nav {
  background-color: #3d464d;
  color: #fff;
}

nav .nav-link {
  color: #fff !important ;
  font-size: 18px;
}
.fa-sun {
  color: gold;
  font-size: 20px;
}
nav .navbar-brand {
  color: #fff;
  font-weight: 600 !important ;
}
a:hover {
  text-decoration: none !important;
<<<<<<< HEAD
  color: var(--main) !important;
=======
  color: var(--main);
>>>>>>> 7d34715afa1c6e9377ae210d96ad22affb3fba17
}
.toggler:hover {
  background-color: var(--main) !important;
  color: #fff !important;
}

nav .navbar-brand span {
<<<<<<< HEAD
  color: var(--main);
=======
  color: var(--main) !important;
>>>>>>> 7d34715afa1c6e9377ae210d96ad22affb3fba17
}

nav .dropdown-menu {
  background-color: var(--main) !important;
  padding: 5px !important;
}

nav .icon {
  font-size: 23px;
  color: var(--main);
}

nav sub {
  color: white;
}

nav .nav-link:hover,
nav .nav-link.active {
  background-color: var(--main) !important;
  color: #fff !important;
  border-radius: 5px;
  transition: background-color 0.3s;
}
<<<<<<< HEAD
.icon-login {
  text-decoration: none;
  list-style: none;
}
.icon-login i {
  color: #cece2b;
}
.icon-login i:hover {
  color: #a2a22e;
}
.span-login {
  color: #cece2b !important ;
  margin: 0 5px;
}
.span-login:hover {
  color: #a2a22e !important ;
}
.span-user {
  color: #cece2b !important ;
}
=======
>>>>>>> 7d34715afa1c6e9377ae210d96ad22affb3fba17
